/*-- scss:defaults --*/
/*-- scss:rules --*/

/* Typografie: leicht erhoehter Buchstabenabstand */
p, li, a {
  letter-spacing: 0.01em;
}

.smaller {
  font-size: 0.85em;
  line-height: 1.2;
}

// Abschnittsnummerierung

.header-section-number {
  color: $brand-text !important;
}

// Kolophon

.kolophon {
  font-size: 1em;
  line-height: 1.1;
}

.kolophon p {
  font-size: inherit;
  line-height: inherit;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.kolophon > :is(h1, h2, h3, h4) {
  font-size: inherit;
  line-height: inherit;
}

// Metadatenblock + Abstract: gemeinsame Basistypografie

.quarto-title-meta-author,
.quarto-title-meta,
.keywords,
.abstract {
  font-size: 0.9rem;
  line-height: 1.1;
}

.quarto-title-meta-author p,
.quarto-title-meta p,
.keywords p,
.abstract p {
  font-size: inherit;
  line-height: inherit;
}

// Block-Titel (Keywords/Abstract) und Meta-Heading: keine Versalien

.quarto-title-meta-heading,
.keywords .block-title,
.abstract .block-title {
  text-transform: none !important;
  font-size: inherit;
  line-height: inherit;
}

.abstract p {
  margin-bottom: 0.5rem;
}

.abstract .block-title p {
  font-size: inherit;
  line-height: inherit;
  margin-bottom: 0.2rem;
}

// Appendices

#quarto-appendix.default .quarto-appendix-heading {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-family: PT Sans;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

#quarto-appendix.default #quarto-reuse,
#quarto-appendix.default #quarto-copyright {
  padding-bottom: 0.4rem;
}

#quarto-appendix.default #quarto-reuse .quarto-appendix-heading,
#quarto-appendix.default #quarto-copyright .quarto-appendix-heading {
  font-size: 0.5rem;
  line-height: 1.1;
  border-bottom: none;
  padding-bottom: 0;
  margin-top: 0.6rem;
  margin-bottom: 0.3rem;
}

#quarto-appendix.default #quarto-reuse .quarto-appendix-contents,
#quarto-appendix.default #quarto-copyright .quarto-appendix-contents {
  font-size: 0.8rem;
  line-height: 1;
}

#quarto-appendix.default #quarto-reuse .quarto-appendix-contents :is(p, div, a),
#quarto-appendix.default #quarto-copyright .quarto-appendix-contents :is(p, div, a) {
  font-size: inherit;
  line-height: inherit;
}

// TOC in linker Spalte

.quarto-margin-sidebar {
  line-height: 1.2rem;
  font-weight: bold;
}

.sidebar nav[role="doc-toc"] > h2 {
  font-size: 1.2rem;
  margin-top: 2rem;
}

.sidebar nav[role="doc-toc"] > ul a {
  border-left: 2px solid $brand-akzent !important;
}

// Navigation rechte Spalte 

.column-margin {
  font-size: 0.9rem !important;
  color: $brand-text !important;
}

// Bildunterschriften

figure figcaption,
.quarto-figure figcaption {
  color: $brand-text;
  font-size: 0.75rem;
}

// Callouts

// Notes
.callout.callout-note > .callout-header,
.callout.callout-note.callout-style-default > .callout-header,
.callout.callout-note.callout-style-simple  > .callout-header {
  background-color: rgba($brand-cd-farbe-abstufung3, 0.35) !important; /* Fallback */
  background-color: color-mix(in srgb, $brand-cd-farbe-abstufung3 55%, $brand-hintergrund) !important;
}

// Tipps
.callout.callout-tip > .callout-header,
.callout.callout-tip.callout-style-default > .callout-header,
.callout.callout-tip.callout-style-simple  > .callout-header {
  background-color: rgba($brand-cd-farbe-abstufung3, 0.45) !important;
  background-color: color-mix(in srgb, $brand-cd-farbe-abstufung3 70%, $brand-hintergrund) !important;
}

// Important
.callout.callout-important > .callout-header,
.callout.callout-important.callout-style-default > .callout-header,
.callout.callout-important.callout-style-simple  > .callout-header {
  background-color: rgba($brand-cd-farbe-abstufung2, 0.45) !important;
  background-color: color-mix(in srgb, $brand-cd-farbe-abstufung2 70%, $brand-hintergrund) !important;
}

// Caution
.callout.callout-caution > .callout-header,
.callout.callout-caution.callout-style-default > .callout-header,
.callout.callout-caution.callout-style-simple  > .callout-header {
  background-color: rgba($brand-cd-farbe-abstufung1, 0.60) !important;
  background-color: color-mix(in srgb, $brand-cd-farbe-abstufung1 85%, $brand-hintergrund) !important;
}

// Warning
.callout.callout-warning > .callout-header,
.callout.callout-warning.callout-style-default > .callout-header,
.callout.callout-warning.callout-style-simple  > .callout-header {
  background-color: rgba($brand-akzent, 0.60) !important;
  background-color: color-mix(in srgb, $brand-akzent 85%, $brand-hintergrund) !important;
}

.callout > .callout-header {
  color: $brand-text !important;
  font-weight: 700;
}

// Linker Rand der Callouts einheitlich

.callout {
  border-left-color: $brand-akzent !important;
}

.callout::before {
  background-color: $brand-akzent !important;
}

// Zitate

blockquote {
  color: $brand-text !important;
  font-style: italic;
  border-left: 0.25rem solid $brand-akzent;
  padding: 0.25rem 1rem;
}

blockquote p:last-child {
  margin-bottom: 0;
}
